body {
    font-family: Arial, sans-serif;
    font-variant: small-caps;
    text-transform: lowercase;
    background-color: black;
    color: #FFF;
    /* Resize the background image to cover the entire container */
    background-image: url("img/wallpaperout.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0%;
}

h1 {
    font-size: 5em !important;
}

h2 {
    font-size: 2.7em !important;
}

h3 {
    font-size: 1.6em !important;

}

h4 {
    font-size: 1.3em !important;

}

p {
    color: #FFF;
    font-size: 1.3em;
}
i {
    font-size: 1.2em;
}
header {
    text-align: center;
    position: relative;
    max-width: 100%;
}

.titleLogo {
    height: auto;
    max-width: 80%;
    margin-left: 0;
    margin-right: 0;
}



@media (max-width: 900px) {
    .titleLogo {
        max-width: 100%;
    }
}

/* body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/wallpaper.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} */

a:visited,
a:link {
    color: #ffffff;
    text-decoration: underline;
}

a:hover,
a:active {
    color: #DDD;
    text-decoration: underline;
}


/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}


/* Centered text */
.centered {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 60%;
}

@media (max-width: 1300px) {
    .centered {
        width: 80%;
    }
}


@media (max-width: 900px) {
    .centered {
        width: 90%;
    }
}


.block {
    display: inline-block;
    padding-top: 2em;
    max-width: 98%;
}

.nav {
    text-align: center;
}

.nav:after {
    content: "";
    display: table;
    clear: both;
}


.navItem {
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-top: -1em;
    margin-bottom: -1em;
}

.noTextDecoration {
    text-decoration: none !important;
}

@media (max-width: 1050px) {
    .navItem {
        float: none;
        width: 100%;

    }
}


.column {
    float: left;
    width: 45%;
    margin-right: 5%;
    padding-bottom: .5em;
}

@media (max-width: 1000px) {
    .column {
        float: none;
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1300px) {
    .programColumn {
        float: none;
        width: 100%;
    }
}

.artistImage {
    float: left;
    margin-right: 3em;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 400px;
    height: 400px;
}

@media (max-width: 900px) {
    .artistImage {
        float: none;
        margin-right: 0em;
    }
}


.artistDescription {
    margin-top: -1.5em;
}

.footer {
    margin-top: 3em;
    margin-bottom: 1em;
}